<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Product Name' %>
    <%= form.text_field :name, id: :product_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.fields_for :images do |image_form| %>
      <%= render 'image_fields', f: image_form %>
    <% end %>
  </div>

  <%= link_to_add_fields "Add Image", form, :images, {class: 'btn btn-default'} %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
