<div class="fields mt-1 p-2 jumbotron">

  <div class="form-group">
    <%= f.label :description, 'Image Description' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <%= f.file_field :image, id: :image_image_data %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', onClick: "removeField(this); return false;", class: 'btn btn-sm btn-danger' %>
  </div>

  <div class="form-group">
    <% if f.object.image.present? %>
      <%= image_tag(f.object.image_url) %>
    <% end %>
  </div>



</div>
