<h1>Editing Product</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Product Name' %>
    <%= form.text_field :name, id: :product_name, class: 'form-control' %>
  </div>

  <div class="jumbotron">
    <% @product.images.each do |i| %>
      <p><%= image_tag i.image_url(:thumb) %></p>
      <p><%= link_to 'Delete', image_path(i), method: :delete %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
