<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Images:</strong>
  <% @product.images.each do |img| %>
    <p><%= img.description %></p>
    <% if img.image.present? %>
      <p>Original</p>
      <%= image_tag img.image_url(:original) %>
      <p>Thumb</p>
      <%= image_tag img.image_url(:thumb) %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
