<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :image_description %>
  </div>

  <div class="field">
    <%= form.label :image_data %>
    <%= form.text_area :image_data, id: :image_image_data %>
  </div>

  <div class="field">
    <%= form.label :imageable_id %>
    <%= form.text_field :imageable_id, id: :image_imageable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
