<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @image.image_data %>
</p>

<p>
  <strong>Imageable:</strong>
  <%= @image.imageable %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
